
__pycache__/
migrations/
*.py[cod]
*$py.class
.pyc

.env
.venv
venv/
env/
profile/
keys/
ca_module/*.pem
ca_module/*.key
csr_module/*.pem
csr_module/*.key
teachers_certificates/
*.db
*.sqlite3
db.sqlite3
sqlite3.*
